import random

print("Hello")
print("This is quest for you")

#Создаем двумерный массив, чтобы вписать в него слова с ответами, для дальнейшей проверки
word = ['be','and','have','it','he','that','you','his','say','with','but','do','they','her','she','my','can','him','all','there','me','we','go','from','what','this','so','up','see','come','them','no','know','if','look','when','get','or','then','like','now','think','which','their','about','make','down','time','take','your','быть','и','иметь','это','он','тот','ты','его','говорить','с','но','делать','они','ее','она','мой','мочь','ему','все','там','мне','мы','идти','из','что','это','так','вверх','видеть','приходить','им','нет','знать','если','смотреть','когда','получать','или','затем','нравиться','сейчас','думать','который','их','о','делать','вниз','время','брать','ваш']

#words6 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words7 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words8 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words9 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words10 = [['be','and','have','it','he','that','you','his','say','with'],[]
           
#words11 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words12 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words13 = [['be','and','have','it','he','that','you','his','say','with'],[]]

#words14 = [['be','and','have','it','he','that','you','his','say','with'],[]]

print("You need to write a number, this is the number of words that you will need to translate from English to Russian ")
n = int(input())
a = []
b = []
i = 0
j = 0
k = 0
t = 0
rin = []
ran = 0
i = 0
while i<n:
    i +=1
    rand = random.randint(0,50)
    rin.append(rand)
    ran = rin.count(rand)
    if ran < 2:
        a.append(word[rand])
        
        b.append(word[rand+50])
    else:
        i -=1
    
        
    
        
for k in range(k,n):
    print("Слово - ",a[k])
    t = "Его перевод = "
    per = str(input())
    
    if per == b[k]:
        print("Верно!")
        print()
        
    else:
        print("Неверно! ",b[k])
        print()
